<p>gems works!</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">تاریخ</th>
      <th scope="col">وزن</th>
      <th scope="col">اعیار</th>
      <th scope="col">قیمت</th>
      <th scope="col">وضعیت</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let gem of gems;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{gem.data}}</td>
      <td>{{gem.weight}}</td>
      <td>{{gem.cutie}}</td>
      <td>{{gem.price}}</td>
      <td>{{gem.status}}</td>
    </tr>
  </tbody>
</table>
<form [formGroup]="postformgem" (ngSubmit)="postGemSubmited()">
  <div class="form-group">
    <label for="date">تاریخ</label>
    <input type="text" class="form-control" id="date" formControlName="data">
  </div>
  <div class="form-group">
    <label for="weight">وزن</label>
    <input type="text" class="form-control" id="weight" formControlName="weight">
  </div>
  <div class="form-group">
    <label for="cutie">عیار</label>
    <input type="text" class="form-control" id="cutie" formControlName="cutie">
  </div>
  <div class="form-group">
    <label for="price">قیمت</label>
    <input type="text" class="form-control" id="price" formControlName="price">
  </div>
  <div class="form-group">
    <label for="status">وضعیت</label>
    <input class="form-control" id="status" formControlName="status">

    
  </div>
  <button type="submit" class="btn btn-primary">ثبت</button>
</form>

